@media screen and (max-width: 801px) {
    .main-text{padding: 0rem!important;margin: 0!important;border: none!important;padding:.5rem 0 0 0!important;}.main-pic{margin: 0!important}
    .main-one{flex-direction:column;padding: 1rem 0!important; }
    .main-pic img{width: 100%!important;}
    .header-h{font-size: 1.2rem!important;}
    #app .el-carousel__container{height: 5.5rem!important;}
    .el-carousel{margin: 1.5rem 0 0rem!important}
    } /* 设置了浏览器宽度不大于500px时 abc 显示100px宽度 */ 
    
    #header{background: url(../../static/bigimg/banner5.jpg) 50% 50%;background-size: cover}
    
    h1,h2,h3,h4,h5,h6,p{font-weight:normal;line-height: 1.2;}
    .header-h{color: #f00;font-size: 1.5rem;}
    .profile{width: 100%;overflow: hidden;padding:0 0 2rem}
    #main{width: 100%;height: 100%;background: url(../../src/assets/shadow-footer.png);}
    .main-inner{width: 90%;max-width: 1560px;margin: 0 auto;}
    .main-one{display:flex;justify-content: center;padding: 3rem 0;align-items: center;}
    .main-pic{width: 100%;max-width: 506px;margin:0 50px;}
    .main-pic img{width: auto;height: auto;display: block;border: 3px #ccc solid;transition: all .5s;max-width: 512px;}
    .main-text {max-width: 500px;border: 15px #ccc solid;height: 100%;padding: 2rem;display: block;margin:0 50px;border-image: url(../../src/assets/2.png) 30 repeat;}
    .main-pic img:hover{box-shadow: 3px 3px 3px #ccc;transform: translateY(-1px);}
    .main-text:hover{color: #e83a3a;-webkit-animation: pulse 1s linear infinite;border: 15px #ccc solid;border-image: url(../../src/assets/1.png) 30 repeat;
                    animation: pulse 1s linear infinite;}
    @keyframes pulse {
      0% {background:-webkit-linear-gradient(top right,  rgba(52,174,226,.1), rgba(69,232,137,.1));}
    
      50% {background:-webkit-linear-gradient(top right,  rgba(69,232,137,.1), rgba(52,174,226,.1));}
    
      100% {background:-webkit-linear-gradient(top right,  rgba(52,174,226,.1), rgba(69,232,137,.1));}
    }
    
    /* 走马灯 */
      .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
      }
      
      .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
      }
      
      .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
      }
    .el-carousel{margin: 5rem 0 3rem}
    .el-carousel__item  img{width: 100%}